.create-course{
  display: none;
}

.create-course-btn{
  margin-top: 20px;
}

.course-list-table{
  margin-top: 20px;
}


.create-course-btn{
  margin-top: 20px;
}

.course-list-table{
  margin-top: 20px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-left-10{
  margin-left: 10px;
}

.course-name-edit{
  display: none;
}
